.menu__Overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: red;
  overflow-x: hidden;
}

.menu__body > svg {
  height: 80vh;
  transition: 3s;
  z-index: 10;
}

.menu__body {
  position: fixed;
  top: 10%;
  right: 0;
  z-index: 10;
}

.menu__burger > img {
  position: fixed;
  top: 46%;
  right: 20px;
  z-index: 10;
}
